#canvas_container {
  position: relative;
  width: 740px;
  height: 540px;
  border: 1px solid #aaa;
  padding: 0px;
  margin: 0px;
}

input[type="text"],
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus {
  padding: 0;
  margin: 0;
  border: none;
  background: none;

  outline:0px !important;
  -webkit-appearance:none;
  -webkit-box-shadow:none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  -webkit-border-radius: none;
}